
<div class="well transparent center-block">
{% trans_default_domain 'FOSUserBundle' %}
	<h1 class="font outline big">Your profile</h1>
	<div class="fos_user_user_show">
		<div class="container">
				<div class="bold">{{ 'profile.show.username'|trans }}:</div>
				<div class="italic bot">{{ user.username }}</div>
			
				<div class="bold">{{ 'profile.show.email'|trans }}:</div>
				<div class="italic bot">{{ user.email }}</div>
			
				<a id="edit1" class="btn btn-primary font outline" href="/profile/edit">Edit profile</a>
				<a id="edit2" class="btn btn-info  font outline" href="/profile/change-password">Change password</a>
			
		</div>
	</div>
</div>
