{% extends 'first.html.twig' %}

{% block body %}
	<div class="jumbotron" style="background-repeat: no-repeat; background-position: 50% 75%; height: 512px; max-height: 720px;">
        <div class="container">
            <h1 style="color:yellow; text-shadow: 2px 2px #ff0000;">Welcome!</h1>
            <p style="color:blue; text-shadow: 2px 2px yellow;">Step into the role of a mysterious storyteller as you slowly uncover the magical world of DiXit!</p>
            <p><a class="btn btn-primary btn-lg" role="button" >Register &raquo;</a></p>
			<p><a class="btn btn-primary btn-lg" role="button" >Continue as guest &raquo;</a></p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
    </script>
{%  endblock %}
