{% extends "FOSUserBundle::layout2.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	<div class="container">
		<div class="row">
			<div class="center-block well">
				<p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
				{% if targetUrl %}
				<p><a style="color:#F2DCA6; text-shadow: 1.5px 1.5px #413C45;" href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock fos_user_content %}
