{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
	<div class="container">  
    <div class="row">  
    <div class="center-block bgI">  
				<div class="row" >
					<h3 class="outline font modal-title text-center " id="registerLabel">Register as a new user</h3>
				</div>
				<div class="row col-sm-12 text-center pad top">
					{% include "FOSUserBundle:Registration:register_content.html.twig" %}
				</div>
    </div>  
    </div>  
    </div>
{% endblock fos_user_content %}
