body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #000 url(../img/back.jpg);
  background-size: cover;
}

footer {
    clear: both;
}

.navbar {
  margin-bottom: 20px;
}

.container-fluid {
	color:#DEAB64;
}

.table {
	opacity:0.55;
}

.table > .table-hover {
	opacity:0.55;
}

tr.selected td {
    background: none repeat scroll 0 0 #FFCF8B;
    color: #000000;
}

.jumbotron {
    background: blue url(../img/dixit.jpg);
}

.modal-content {
    background: blue url(../img/dixit-blurred.jpg);
}
.modal-title {
	font-size: 50px;
    border: none;
	color: black;
}

#div1 {
	width:75%; 
	height:100%;
	display:table-cell;
	height:inherit;
}

#div2 {
	display:table-cell;	
}

#myDiv {
	width:100%;
	height:100%;
}

#myCanvas {
	height:100%;
}

.row
{
    overflow: hidden;
}

.row-fluid {
	padding-bottom:15px;
}

.row > div
{
    margin-bottom: -999999px;
    padding-bottom: 999999px;
}

#chat {
	display:none;
	width:250px;
	height:toggle;
}

#chat2 {
	display:none;
	width:250px;
	height:toggle;
}

.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
}

#btn-create {
	height:120px;
	font-size:70px;
    background: #000 url(../img/dixit.jpg);
}


@font-face {
    font-family: newFont;
    src: url(../fonts/LikeCockatoosBold.ttf);
}

.font {
	font-family : newFont;
	color: black;
}

.outline {
   -webkit-text-fill-color: #ffffff; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #000000;
   
   -moz-text-fill-color: #ffffff; /* Will override color (regardless of order) */
   -moz-text-stroke-width: 1px;
   -moz-text-stroke-color: #000000;
   
   -o-text-fill-color: #ffffff; /* Will override color (regardless of order) */
   -o-text-stroke-width: 1px;
   -o-text-stroke-color: #000000;
   
   -ms-text-fill-color: #ffffff; /* Will override color (regardless of order) */
   -ms-text-stroke-width: 1px;
   -ms-text-stroke-color: #000000;
}


