body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #000 url(../img/back.jpg);
  background-size: cover;
  font-family : bodyFont;
}

footer {
    clear: both;
	padding-top: 30px;
}

.navbar {
  margin-bottom: 20px;
}

.container-fluid {
	color:#DEAB64;
}

.table {
	opacity:0.55;
}

.table > .table-hover {
	opacity:0.55;
}

.jumbotron {
	background-repeat: no-repeat; 
	background-position: 50% 75%; 
	height: 512px; 
	max-height: 720px;
}

tr.selected td {
    background: none repeat scroll 0 0 #00C957;
    color: #000000;
}

.jumbotron {
    background: blue url(../img/dixit-blurred.jpg);
}

.modal-content {
    background: blue url(../img/dixit-blurred.jpg);
}

.modal-body {
	color:black;
}

.well {
	background-color: rgba(255,255,255,0.5);
}

.modal-title {
	font-size: 50px;
    border: none;
}

#div1 {
	width:75%; 
	height:100%;
	display:table-cell;
	height:inherit;
}

#div2 {
	display:table-cell;	
}

#myDiv {
	width:100%;
	height:100%;
}

#myCanvas {
	height:100%;
}

.row
{
    overflow: hidden;
}

.row-fluid {
	padding-bottom:15px;
}

.row > div
{
    margin-bottom: -999999px;
    padding-bottom: 999999px;
}

#chat {
	width:250px;
}

#chat2 {
	display:none;
	width:250px;
	height:toggle;
}

.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
}

#btn-create {
	height:120px;
	font-size:70px;
    background: #000 url(../img/dixit.jpg);
}

#btn-create:hover {
	color:#b11c10;
}

#sgame, #toggle1, #edit1, #edit2 {
	font-size:50px;
    background: #000 url(../img/dixit-blurred.jpg);
	background-size:95%;
	padding-bottom:10px;
}

#sgame a{
	padding-bottom:10px;	
}

#sgame:hover {
	color:#f39c12;
}

#toggle1:hover {
	color:#18bc9c;
}

#edit1:hover {
	color:#2c3e50;
}

#edit2:hover {
	color:#3498db;
}

#leave, #smodal {
	font-size:50px;
    background: #000 url(../img/dixit-bw.jpg);
	background-size:95%;
}

#leave:hover, #smodal:hover {
	color:#e74c3c;
}

.error {
	font-family: boldFont;
	color:#e74c3c;
}

@font-face {
	font-weight: bold;
    font-family: newFont;
    src: url(../fonts/dilana.ttf);
	
}

@font-face {
	font-weight: bold;
    font-family: bodyFont;
    src: url(../fonts/LibreBaskerville-Regular.ttf);
	
}

@font-face {
	font-weight: bold;
    font-family: italicFont;
    src: url(../fonts/LibreBaskerville-Italic.ttf);
	
}

@font-face {
	font-weight: bold;
    font-family: boldFont;
    src: url(../fonts/LibreBaskerville-Bold.ttf);
	
}

.font {
	font-family : newFont;
	color: black;
}

h1, h2, h3, h4, h5, h6 {
	font-family : boldFont;	
}

.nav-item {
	font-size : 17px;
}

.outline {
	text-shadow:
	-1.5px -1.5px #F2DCA6,  
	1.5px -1.5px #F2DCA6,
	-1.5px 1.5px #F2DCA6,
    1.5px 1.5px #F2DCA6,
	3.5px 3px #705410;
	color: #413C45;
}

.nav-item {
	font-size:30px;
}

.navbar-default .navbar-nav > li > a {
	color: #413C45;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #413C45;
}

.transparent, #txtar, #txtar1, #txtar2, #id1, #memberList{
	background-color: rgba(17,24,31,0.55);
	border-color: rgba(236, 240, 241,0.65);
	color: white;
}

#inputTextLobby, #inputTextGame, #inputTextResults {
	background-color: rgba(17,24,31,0.65);
	border-color: rgba(236, 240, 241,0.65);
	color: white;
}

#boja, #boja2, #boja3, #boja4 {
	background-color: rgba(236, 240, 241,0.45);
	border-color: rgba(236, 240, 241,0.45);
}

tbody tr:hover {
	color: black;
}

thead {
	font-family: italicFont;
}

#resultsTable tbody tr:hover {
	color: white;
}

#lobby, #results {
	padding-left: 5%;
}

.pad {
	padding-left:20%;
	padding-right:15%;
}

.center-block {  
    width:60%;  
    padding:10px;  
	border-radius: 5px;
} 

.bgI {
    background: #000 url(../img/dixit-blurred.jpg);
}

.top {
	padding-top:5%;
	padding-bottom:10%;
}

.bot {
	padding-bottom:15px;
}

.list-group-item {
	color:white;
	background-color:transparent;
}

#title, #link1, #link2 {
	color:#F2DCA6; 
	text-shadow: 1.5px 1.5px #413C45;
}

.big {
	font-size:60px;
}

.bold {
	font-family: boldFont;
}

.italic {
	font-family: italicFont;
}

