body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #000 url(../img/back.jpg);
  background-size: cover;
}

footer {
    clear: both;
}

.navbar {
  margin-bottom: 20px;
}

.container-fluid {
	color:#DEAB64;
}

.table {
	opacity:0.55;
}

.table > .table-hover {
	opacity:0.55;
}

tr.selected td {
    background: none repeat scroll 0 0 #FFCF8B;
    color: #000000;
}

.jumbotron {
    background: blue url(../img/dixit-blurred.jpg);
}

.modal-content {
    background: blue url(../img/dixit-blurred.jpg);
}

.modal-body {
	color:black;
}

.well {
	background-color: rgba(255,255,255,0.5);
}

.modal-title {
	font-size: 50px;
    border: none;
}

#div1 {
	width:75%; 
	height:100%;
	display:table-cell;
	height:inherit;
}

#div2 {
	display:table-cell;	
}

#myDiv {
	width:100%;
	height:100%;
}

#myCanvas {
	height:100%;
}

.row
{
    overflow: hidden;
}

.row-fluid {
	padding-bottom:15px;
}

.row > div
{
    margin-bottom: -999999px;
    padding-bottom: 999999px;
}

#chat {
	display:none;
	width:250px;
	height:toggle;
}

#chat2 {
	display:none;
	width:250px;
	height:toggle;
}

.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
}

#btn-create {
	height:120px;
	font-size:70px;
    background: #000 url(../img/dixit.jpg);
}


@font-face {
	font-weight: bold;
    font-family: newFont;
    src: url(../fonts/BlackwoodCastle.ttf);
	
}

.font {
	font-family : newFont;
	color: black;
}

.outline {
	text-shadow:
	-1.5px -1.5px #b6bdcd,  
	1.5px -1.5px #b6bdcd,
	-1.5px 1.5px #b6bdcd,
    1.5px 1.5px #b6bdcd,
	3.5px 3px #252b36;
	color: #305583;

}


